
<div class="row">
  <div class="large-6 columns">
        <h1> Sinocast is a Bitcoin prediction market focused on China.</h1>
  </div>
<!--   <div class="large-6 columns">
    <img src="http://img.diglog.com/img/2011/9/1c20dfcb172c4b09acd2878f36c7cc7f.jpg"><br>
    <!-- <h1><%= link_to 'Show', events_path %></h1>
     -->    
  </div> 
</div>
