<h1>Events</h1>
<% @events.each do |event| %>
  <%= image_tag event.avatar.thumb.url %>
  <p><%= link_to "#{event.title}", event_path(event) %></p>
<% end %>

<%=link_to"Create Event", new_event_path %>
<br/>
<%=link_to "Show Users", users_path %>
