<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p>Put your option buy form here</p>
<p><%= @event.current_buy_price %></p>
<p>Put your option sell form here</p>
<p><%= @event.current_sell_price %></p>
