<% if current_user %>

  <h3 class="header3">Execution of an Option</h3>
  <div class="editor">
  name
  <p class="input"><%= @user.username %></p>
  event
  <p class="input"><%= @event.title %></p>
  quantity
  <p class="input"><%= @order.quantity %></p>
  price
  <p class="input"><%= @order.book_price %></p>
</div>
<% end %>
<link href="application.css" rel="stylesheet"/>
