<% if current_user %>

  <h3>GOGOGO</h3>
  name
  <p><%= @user.username %></p>
  event
  <p><%= @event.title %></p>
  quantity
  <p><%= @order.quantity %></p>
  price
  <p><%= @order.book_price %></p>

<% end %>
