/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self 
 *= require foundation_and_overrides
 *= require_tree .
*/

.header1 {
	color: #137072;
	margin: center;
	font-size: 40px;
}



.p {
  color: #137072;
  margin: center;
}

.editor {
  margin: 30px auto;
  border-width: thick;
  padding: 20px;
  width: 800px;
  height: 500px;
  background-color: #BDBDBD;
  border: 2px solid #1d2e3a;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;

}
.field {
  margin: 30px auto;
  border-width: thick;
  padding: 20px;
  margin-left: 40px;
  background-color: slategrey;
  border: 2px solid #1d2e3a;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.actions {
  margin-left: 60px;
}
.trade {
  margin: 30px auto;
  margin-left: 40px;
}
p {
  margin-right: 60px;
}


 

